*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

section {
    padding: 30vh 0;
}

.one-icon {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

.one {
    background: #5B5F97;
    position: relative;
}

.one::after,
.one::before {
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: #5B5F97;
    bottom: -1rem;
    z-index: 100;
}

.one::before {
    right: 50%;
    transform: skew(0, 30deg);
}

.one::after {
    left: 50%;
    transform: skew(0, -30deg);
}

.two {
    background: #FF6B6C;
    margin-bottom: -10vw;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.two-img {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.three {
    background: #5B5F97;
}

.three-img {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
